<%- content_for :page_heading do %>
<h2>
  <i class="glyphicon glyphicon-large glyphicon-share-alt"></i>
  <%= t(".redirects") %>
</h2>
<% end %>

<div>
  <div class='col-md-4'>
    <%= form_tag :action=>"edit", :id => @redirect.id do %>
      <%= error_messages_for 'redirect' %>
      <label for="redirect_from_path"><%= _("From")%></label>
      <%= text_field :redirect, :from_path, :class => 'col-md-12', :placeholder => "#{this_blog.base_url}/" %>
      <span class='help-block'><%= _("Leave empty to shorten a link") %></span>
      <label for="redirect_to_path"><%= _("To") %></label>
      <%= text_field :redirect, :to_path, :class => 'col-md-12' %>
      <%= cancel_or_save %>
    <% end %>
  </div>

  <div class='col-md-8'>
    <table class="table table-striped">
      <thead>
        <tr class='noborder'>
          <th><%= t(".from") %></th>
          <th><%= t(".to") %></th>
        </tr>
      </thead>
      <%- if @redirects.empty? %>
        <tr>
          <td colspan="2">
            <%= t(".no_redirects") %>
          </td>
        </tr>
      <%- end %>
      <% for redirect in @redirects %>
        <tr>
          <td>
            <%= link_to("#{redirect.to_url}", "#{redirect.to_url}") %>
            <%= show_redirect_actions redirect %>
          </td>
          <td><%= link_to(redirect.to_path, redirect.to_path) %></td>
        </tr>
      <% end %>
      <%= display_pagination(@redirects, 2)%>
    </table>
  </div>
</div>
