<script>
/***** ドラッグ開始時の処理 *****/
function f_dragstart(event){
  //ドラッグするデータのid名をDataTransferオブジェクトにセット
  event.dataTransfer.setData("text", event.target.id);
}

/***** ドラッグ要素がドロップ要素に重なっている間の処理 *****/
function f_dragover(event){
  //dragoverイベントをキャンセルして、ドロップ先の要素がドロップを受け付けるようにする
  event.preventDefault();
}

/***** ドロップ時の処理 *****/
function f_drop(event){
  //ドラッグされたデータのid名をDataTransferオブジェクトから取得
  var id_name = event.dataTransfer.getData("text");
  //id名からドラッグされた要素を取得
  var drag_elm =document.getElementById(id_name);
  //ドロップ先にドラッグされた要素を追加
  event.currentTarget.appendChild(drag_elm);
  //エラー回避のため、ドロップ処理の最後にdropイベントをキャンセルしておく
  event.preventDefault();
}
</script>

<div id="sidebar-config" class='row'>
  <div id="available" class='col-md-6'>
    <div class='well'>
      <h3><%= t(".available_items")%></h3>
      <div id="available_box" ondragover="f_dragover(event)" ondrop="f_drop(event)">
        <% if @available.blank? %>
          <p class='alert-message warning'><%= t(".you_have_no_plugins_installed")%>.</p>
        <% else %>
          <%= render :partial => 'available', :collection => @available %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="cnt-active" class='col-md-6'>
    <div class='well'>
      <h3 id="hdr-active">
        <%= t(".active_sidebar_items")%>
        <%= image_tag "spinner-blue.gif", :id => 'update_spinner',
          :style => 'display:none;' -%>
      </h3>
      <div id="active" ondragover="f_dragover(event)" ondrop="f_drop(event)" dropzone="move">
        <%= render :partial => 'target' %>
      </div>
    </div>
  </div>

</div>
