<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= h(page_title) %></title>
  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.css", "/stylesheets/theme/style.css", "/stylesheets/user-styles.css", :media => 'all' %>
  <%= render 'shared/page_header' %>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation" style="backgroud-color: #424141; border-color: #424141">
    <div class="container-fluid">
      <div class='navbar-header'>
      <%= link_to(this_blog.base_url, class: 'navbar-brand', style: 'padding-top: 2px;' ) do %>
        <%= content_tag(:div, :class => 'ic_crest_44') do %>
          <%= content_tag(:span) do %>
            <%= image_tag("http://img2.finalfantasyxiv.com/c/B27_03117b168c3a39e866bc39e537da398c_93_64x64.png", :size => "44x44") %>
            <%= image_tag("http://img2.finalfantasyxiv.com/c/F1b_f78279681ed539142ae81079444f4017_00_64x64.png", :size => "44x44") %>
            <%= image_tag("http://img2.finalfantasyxiv.com/c/S2d_6f8a407fc0033bf7e8b5a072482b8bb7_02_64x64.png", :size => "44x44") %>
          <% end %>
        <% end %>
      <% end %>
      </div>

      <ul class='nav navbar-nav pull-right'>
        <li><%= link_to(t('.statuses'), {controller: 'notes'}) %></li>
        <li><%= link_to(t('.archives'), {controller: 'articles', action: 'archives'}) %></li>
        <%- Page.published.each do |page| %>
          <li><%= link_to_permalink(page, page.title) %></li>
        <%- end %>
      </ul>
    </div>
  </nav>

  <div id='logo' class='container'>
    <div class='row'>
      <div class='col-lg-12 vertical-container'>
        <div class='vertical'>
          <h1><%= link_to(this_blog.blog_name, this_blog.base_url) %></h1>
          <p class='subtitle'><%= this_blog.blog_subtitle %></p>
        </div>
      </div>
    </div>
  </div>

  <div id='page' class='container'>
    <div class='col-sm-8'>
      <%= yield %>
    </div>
    <div id='sidebar' class='col-sm-4'>
      <%= render_sidebars %>
    </div>
  </div>

  <div id='page' class='container'>
    <div class='row'>
      <p style='text-align: center'><small>Powered by <a href='http://publify.co'>Publify</a> – Thème <a href='http://t37.net'>Frédéric de Villamil</a> | Photo <a href='http://startupstockphotos.com/'>Starup stock photos</a></small></p>
    </div>
  </div>

</body>
</html>
