<%= form_tag action: "login" do %>
<<<<<<< HEAD
<fieldset>
  <div class="form-group">
    <%= text_field(:user, :login, {class: 'form-control', placeholder: t(".login"), autofocus: 'autofocus'})%>
=======
  <%= text_field(:user, :login, {class: 'input-block-level', placeholder: t(".login"), autofocus: 'autofocus'})%>
  <%= password_field(:user, :password, {class: 'input-block-level', placeholder: t(".password")})%>
  <div class='clearfix'>
    <div class='row'>
      <div class='col-md-2'>
        <label class='checkbox inline'>
          <%= check_box_tag 'remember_me' %><small><%= t('.remember_me')%></small>
        </label>
      </div>
      <div class='col-md-2'>
        <%= submit_tag t('.sign_in'), class: "btn btn-info pull-right"  %>
      </div>
    </div>
>>>>>>> Update Twitter Bootstrap CSS to 3.0.2
  </div>
  <div class="form-group">
    <%= password_field(:user, :password, {class: 'form-control', placeholder: t(".password")})%>
  </div>
  <div class="checkbox">
    <label>
      <%= check_box_tag 'remember_me' %> <%= t('.remember_me')%>
    </label>
  </div>
  <%= submit_tag t('.sign_in'), class: "btn btn-lg btn-success btn-block"  %>
</fieldset>  
<% end %>

<%- content_for :account_links do %>
  <small><%= link_to(t("accounts.lost_my_password"), action: 'recover_password') %></small>
  <br/>
  <%- if this_blog.allow_signup? %>
    <small><%= link_to(t("accounts.create_account"), action: 'signup') %></small>
    <br/>
  <% end %>
  <small><%= link_to(t("accounts.back_to", place: this_blog.blog_name).html_safe, this_blog.base_url) %></small>
<% end %>
